<!DOCTYPE html>
<html>
<%- include('partials/head') %>

  <body>
    <%- include('partials/header') %>
      <div class="container">
        <h1>Upload Manager</h1>
        <hr>
        <div>
          <section class="row mt-5">
            <h2>Productos con UNA IMAGEN</h2>
            <% productsOneImage.forEach(({id, name, image}) => { %>
                <div class="col-12 col-md-4 col-lg-3">
                  <div class="card" >
                    <img src="/images/<%= image || 'Producto-sin-imagen.jpg' %>" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><%= name %></h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="/detail/<%= id %>" class="btn btn-primary">Ver más</a>
                    </div>
                  </div>
                </div>
            <% }) %>
          </section>
          <section class="row mt-5">
            <h2>Productos con VARIAS IMAGENES</h2>
            <% productsMultipleImages.forEach(({id, name, images}) => { %>
              <div class="col-12 col-md-4">
                <div class="card" >
                  <img id="img-main" src="/images/<%= images.length ? images[0] : 'Producto-sin-imagen.jpg' %>" class="card-img-top" alt="...">
                  <div class="card-body">
                    <div class="d-flex flex-wrap justify-content-between">
                      <% images.forEach(image => { %>
                        <img src="/images/<%= image  %>" alt="..." width="32%" onclick="document.getElementById('img-main').src=this.src">
                      <% }) %>
                    </div>
                    <h5 class="card-title"><%= name %></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="/detail/<%= id %>" class="btn btn-primary">Ver más</a>
                  </div>
                </div>
              </div>
            <% }) %>
          </section>

          <section class="row mt-5">
            <h2>Productos con UNA IMAGEN PRINCIPAL Y VARIAS SECUNDARIAS</h2>
         
          </section>



        </div>
      </div>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
  </body>

</html>